{% extends 'base.html' %}
{% block title %}Update{% endblock title %}
{% block body %}
<div class="container my-2">
    <h2>Update your ToDo</h2>
    <form action = "/update/{{todo.sno}}" method='POST'>
    <div class="form-group">
      <label for="title">ToDo Title</label>
      <input type="text" class="form-control" name="title" id="title" value="{{todo.title}}" aria-describedby="emailHelp" placeholder="Enter ToDo Title">
      <small id="emailHelp" class="form-text text-muted">We'll never share your information with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="desc">ToDo Description</label>
      <input type="text" class="form-control" name="desc" id="desc" value="{{todo.desc}}" placeholder="Enter Description">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form></div>
    {% endblock body %}